<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1NBBH1D2K5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1NBBH1D2K5');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" >

    <title>#コザんぽ</title>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <link rel="icon" href="../static/img/kozanpo_favicon.png" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/kozanpo_favicon_apple.png">

</head>

<body>

    <header class="header">
        <div class="header__inner">
          <h1 class="header__title header-title">
            <a href="/">
              <img src="../static/img/kozanpo_tegaki_white/01_kozanpo_white.png" alt="#コザんぽ">
            </a>
          </h1>
  

            <nav class="header__nav nav" id="js-nav">
                <ul class="nav__items nav-items">
                    <li class="nav-items__item"><a href="/">Home</a></li>
                    <li class="nav-items__item"><a href="#contents1">#コザんぽって？</a></li>
                    <li class="nav-items__item"><a href="#contents2">#コザんぽの楽しみ方</a></li>
                    <li class="nav-items__item"><a href="#contents3">#コザんぽミッション</a></li>
                    <li class="nav-items__item">｜</li>
                    <li class="nav-items__item"><a href="./mission.html">#コザんぽミッションを<br>やってみる！</a></li>

                </ul>
            </nav>
          
            <button class="header__hamburger hamburger" id="js-hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
  </header>


    <article>    
        <section id="top">
            <img class="top_img" src="../static/img/kozanpo_tegaki/kozanpo_top.png" alt="#コザんぽしよう！">
            <a href="./mission.html"><p class="btn to_kozanpo_mission">#コザんぽミッションをやってみる!</p></a>

        </section>
    
     
        

        <section id="contents1" class="contents_inner">
            <img class="keisen" src="../static/img/keisen/keisen-dotted.png" alt="">
            <img class="tegaki_title" src="../static/img/midashi/kozanpo_tegaki_midashi-01.png" alt="#コザんぽって？">
            <p>「#コザんぽ」は、
                コザの街でおさんぽをしながら、
                ミッションをこなしつつ
                コザの街並みに触れることができる
                ミッション達成型
                WEBアプリケーションです。<br>
                
                コザってどんなところ？興味がある！
                コザってあまりよくわからない…
                いろんな人がいると思うけど、
                <span class="highlight">まずはコザに来てきて！</span><br>
                
                コザの街並みを楽しみ、
                おさんぽミッションをこなしていきながら、
                「これおもしろいな」「なんかいいな」なスポットやものがあれば
                それを写真に撮ってSNSにシェアしてもいいし、
                <span class="highlight">気になったお店があったら入ってみてもいいし、
                コザならではの文化に触れてみるのもいい。</span><br>
                
                「#コザんぽ」を通して、
                あなたにとっての「コザの楽しみ」が増えていきますように。
                そして、<span class="highlight">あなたがコザを好きになってくれますように。</span></p>
            <img class="keisen" src="../static/img/keisen/keisen-dotted.png" alt="">
        </section>

        <section id="contents2" class="contents_inner">
            <img class="tegaki_title" src="../static/img/midashi/kozanpo_tegaki_midashi-02.png" alt="#コザんぽの楽しみ方">
        
            <div class="tano">
                <img class="tegaki_tano" src="../static/img/kozanpo_tegaki/05_osanpo.png" alt="おさんぽ！">
                <img class="tano_img" src="../static/img/tano_img/tano_img_01.png" alt="">
                <p>まずはコザを歩いてみよう！
                    大通りを歩くのもよし、筋道に入ってみるのもよし。
                    地図を見ないで歩いて、迷子になってみるのもいい。
                    そこに素敵な出会いがあるかも！
                    #コザんぽミッションをやりながら歩くと、
                    コザのニッチな部分が垣間見えてもっと楽しい♪</p>
                <a href="./mission.html"><i class="fa-solid fa-angles-right"></i><p class="btn to_kozanpo_mission">#コザんぽミッションをやってみる!</p></a>
            </div>

            <div class="tano">
                <img class="tegaki_tano" src="../static/img/kozanpo_tegaki/06_shere.png" alt="シェア！">
                <img class="tano_img" src="../static/img/tano_img/tano_img_02.png" alt="">
                <p>「これおもしろいな」「なんかいいな」な
                    スポットやものがあれば
                    それを写真に撮ってSNSに「#コザんぽ」でシェアしよう！
                    #コザんぽミッションで見つけたものでも、
                    それ以外のものでもなんでもシェアして
                    周りの人にもコザの魅力を伝えよう！
                    #コザんぽミッションをクリアしたら、
                    ぜひこのこともシェアしてね♪</p>
                <a href="./mission.html"><i class="fa-solid fa-angles-right"></i><p class="btn to_kozanpo_mission">#コザんぽミッションを見てみる！</p></a>
            </div>

            <div class="tano">
                <img class="tegaki_tano" src="../static/img/kozanpo_tegaki/07_kininaru.png" alt="気になるお店や施設に入ってみよう！">
                <img class="tano_img" src="../static/img/tano_img/tano_img_03.png" alt="">
                <p>おさんぽをしていると、気になるお店や施設に出会えることも。
                    「ここ、なんだか気になる！」そんなスポットには
                    迷わず入ってみましょう。
                    あなたにとってのお気に入りのスポットが見つかりますように。</p>
            </div>
            <div class="kozalink">
                <h4>沖縄市観光ポータルサイト<br>【KOZA WEB】</h4>
                <p>沖縄市観光ポータルサイト<br>-Kozaweb-では、
                    沖縄市内で行われるイベントをはじめ、飲食店グルメ情報、
                    無料Wi-Fiスポットのサービスエリア、コザの穴場スポットを紹介しています。
                    スポット探しに見てみてください♪</p>
                <a href="https://www.kozaweb.jp/" target="_blank"><img class="kozaweb" src="../static/img/logo-wide-ja.png" alt=""></a>
            </div>
            <img class="keisen" src="../static/img/keisen/keisen-dotted.png" alt="">
        </section>

        <section id="contents3" class="contents_inner">
            <img class="tegaki_title" src="../static/img/midashi/kozanpo_tegaki_midashi-03.png" alt="#コザんぽミッション">
            <img class="mission_img" src="../static/img/tano_img/mission_img.png" alt="">
            <p>さあ、#コザんぽしよう！
                パークアベニュー通り、一番街周辺を中心に
                おさんぽミッションをご用意しました！
                おさんぽして、シェアして、新しい発見をして…。
                あなたにとっての#コザんぽの楽しみ方を探そう！</p>
        
            <p class="little">※ミッションをクリアした後もう一度やってみると、
                次はちがうミッションが待っているかも…!?</p>
                <a href="./mission.html"><p class="btn to_kozanpo_mission">#コザんぽミッションをやってみる!</p></a>
            <img class="keisen" src="../static/img/keisen/keisen-dotted.png" alt="">
        </section>

        <section id="contens4" class="contents_inner">

            <img class="tegaki_title" src="../static/img//midashi/kozanpo_tegaki_midashi-04.png" alt="#コザんぽの楽しみ方">
            
            <ul class="fas_sns_circlecolor">

                <li><a href="javascript:twitText()"><i class="fab fa-twitter"></i></a></li>

                <li><a href="https://www.facebook.com/sharer/sharer.php?https://kozanpo.herokuapp.com/" target="_blank" rel="nofollow"><i class="fab fa-facebook-square"></i></a></li>

                <li><a href="http://line.me/R/msg/text/?{https://kozanpo.herokuapp.com/}" target="_blank" rel="nofollow"><i class="fab fa-line"></i></a></li>

            </ul>
            
        
            
        </section>





    </article>






    <footer>
        <div class="container">
            <p>Copyright © Kozanpo All Rights Reserved.</p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>
